<nav>
  <!--link button for Settings, Description, Component and Javascript solutions-->
  <a routerLink="/settings" routerLinkActive="active" matTooltip="Load tabs in working way"> Go to Settings</a>
  <a routerLink="/description" routerLinkActive="active" matTooltip="Description of the code">Description</a>
  <a routerLink="/exa-no-data" routerLinkActive="active" matTooltip="Load exa no data component">No Data Component</a>
  <a routerLink="/javascript" routerLinkActive="active" matTooltip="two Javascript solution">Java script solution</a>
  <nav>

    <router-outlet></router-outlet>