<!--Solution 1-->
<p class="mat-title">Solution 1: Diffing an Object</p>
<pre>
        <code [innerHTML]="codeSolution1"></code>
  
</pre>

<p class="mat-title-1">Description:</p>
<p class="mat-body-1">
  <code>combineObject=&#123;...newCode, ...oldCode&#125;</code> code combines
  both object's properties. Then, we apply the loop on this list and if <code>
    if(newCode.hasOwnProperty(property) && !
    oldCode.hasOwnProperty(property))</code>
  returns true, then the property exists in new code but not in old code and
  if<code>
    if(!newCode.hasOwnProperty(property) && oldCode.hasOwnProperty(property))
  </code>
  returns true, then the property does not exist in new code but exists in old code
</p>

<mat-divider></mat-divider>

<!--Solution 2-->
<p class="mat-title">Solution 2: Find Highest Occurrence</p>
<pre>
        <code [innerHTML]="codeSolution2"></code>
  
</pre>

<p class="mat-title-1">Description:</p>
<p class="mat-body-1">
  First, we filter the number OR string array, then we apply the Reduce
  Function and in Reduce Function we try to find the most occurring element.
</p>