:host {
  padding-top: 10px;
  display: block;
  padding-bottom: 50px;

  pre {
    background-color: rgba(0, 0, 0, 0.68);
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid #dbdbdb;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    line-height: 1rem;
  }

  .mat-title {
    margin: 16px 0 16px;
  }

  p {
    code {
      background: rgba(0, 0, 0, 0.03);
      padding: 3px;
      font-size: 90%;
    }
  }
}
