<p class="mat-title">Settings Page -View</p>

<p class="mat-title">Problem</p>
<p>
    When component has a blank path,
    <code>path: ' ', component: SettingsComponent</code> then, angular loads it as a
    default component of the application, and when we click on any tab (eg
    API-Keys), 'Angular active route' activates the parent and child route at same
    time. Therefore, angular loads full path (from parent to child level).
</p>
<p> But in this case, the
    parent component (settings) has blank path and
    <b>API- Key path</b> has <code>path:api-keys</code> path. Hence, angular router tries to load
    <code>https://ritsrivastava01.github.io/Exads/setting-component-path/api-keys</code> in the browser but it is
    shown as
    <code>https://ritsrivastava01.github.io/Exads/api-keys</code>. When we click on
    another menu, router tries to find that path inside <b>api-keys</b> and its
    fails to load that path. Hence, it throws the error (error in console).
</p>

<p class="mat-title">Fix</p>
<p>
    If we provide the correct URL in the angular route then tabs will navigate
    properly.
</p>
<p>
    e.g. if we first click on <b>Go to Settings</b> (top left first button) button then angular route will
    redirect to <code>https://ritsrivastava01.github.io/Exads/settings</code>and then if we click on
    any tab, router will try to find that component inside the
    <b>Settings component</b> and it works fine!!!
</p>
<nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let menuItem of settingsMenu" [routerLink]="menuItem.route" routerLinkActive
        #rla="routerLinkActive" [active]="rla.isActive">
        {{ menuItem.title }}
    </a>
</nav>
<router-outlet></router-outlet>